/* IMPOSTAZIONI GENERALI */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(https://www.ilmessaggero.it/photos/MED/80/79/5038079_1538_frecciarossa1000.jpg);
  background-size: cover;
}

/* IMPOSTAZIONI MAIN*/
main {
  width: 100%;
  padding-top: 8% ;
}

h1 {
  font-size: 55px;
  color: #c41329;
}

/* BLOCCO CREAZIONE BIGLIETTO  */

.creazione {
  display: flex;
  width: 55%;
  margin: 0 auto 50px;
  padding: 2%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

/* BLOCCO TITOLO */

.titolo {
  width: 48%;
  margin: 0 1%;
  padding-top: 5%;
}

/* BLOCCO DATI UTENTE */

.datiUtente {
  width: 50%;
  padding: 2% 1%;
  border: solid 1px #616b64;
  border-radius: 5px;
}

.datiUtente > div {
  margin-bottom: 20px;
}

.datiUtente label {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}

.datiUtente input, .datiUtente select {
  width: 100%;
  height: 30px;
  font-size: 17px;
  color: #616b64;
}

.datiUtente .bottoni {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.datiUtente .bottoni button {
  font-size: 17px;
  width: 150px;
  border-radius: 5px;
  height: 35px;
}

.datiUtente .bottoni #btnCrea {
  background-color: #c41329;
  color: #fff;
  border-color: #c41329;
}

.datiUtente .bottoni #btnAnnulla {
  background-color: #616b64;
  color: #fff;
  border-color: #616b64;
}

/* BLOCCO BIGLIETTO DEL TRENO */

.biglietto {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  filter: opacity(0);
  transition: 0.5s;
}

.biglietto table {
  width: 100%;
  height: 100px;
}

.biglietto table th {
  font-size: 20px;
}

/* classe creata con js */

.bigliettoVisibile {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  filter: opacity(1);
  transition: 0.5s;
}

.bigliettoVisibile table {
  width: 100%;
  height: 100px;
}

.bigliettoVisibile table th {
  font-size: 20px;
}
